* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

body, html {
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5 !important;
}
body {
    /* background-color: #494a79;*/
    overflow-x: hidden; 
}
body.pages .navbar{
    background: #fff !important;
}




/* ----- Preloader ----- */

/* ----- end of Preloader ---- */




img {
    width: 100%;
    max-width: 100%
    
}
.welcome-box {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}
.header {
    min-height: 1000px;
    height: auto;
    background-size: cover;
    background-repeat: no-repat;
    background-position: center;
    position: relative;
    display: flex;
    width: 100%;
    padding: 150px 15px 80px 15px;
    color: #333;  
}
.nav-item{
   /* border-right: 1px solid #bc150d; */
}

.header:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.header .container {
    position: relative;
    z-index: 9;
}
.header .header-brand {
    margin-bottom: 100px;
    
}
.header .header-brand img {
    max-width: 200px;
}
.header h1 {
    font-size: 40px; 
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.4;
    text-align: right;
    font-family: monospace;
    width: 600px;
    color: #43BDFF;
}

.header h1 span {
    color: #0D47A1;
    /* background-color: rgba(0, 0, 0, 0.5); */
   /* box-shadow: 5px 0px 0px #333, -7px 0px 0px #981c1b;  
    padding: 2px 17px; */
    padding: 0;
    margin: 3px 0;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
}

.header h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: monospace;
    text-align: left;
}

.header h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 5px 0 0 0;
    font-family: monospace;

}
@media (min-width:1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        font-size: 20px!important
    }
    .list-inline {
        margin-top: 100px;
    }
    .navbar-expand-xl .navbar-nav{
        background-color: rgba(0, 0, 0, 0.6);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .navbar-bg.navbar-expand-xl .navbar-nav{
        background-color: transparent;
    }
}
@media (min-width:1199px) {
    .header {
        background-image: url(../images/header-pc.jpeg);
        background-image: url(../images/header-pc.webp);
        /*background-attachment: fixed; */ 
    }
    #about .padding-50 {
        padding: 0px !important;
    }
    .align-self-center {
        -ms-flex-item-align: left!important;
        align-self: auto!important;
    }
    .header .text-center {
         color: #0D47A1;
         /* display: flex !important;
         flex-direction: column !important;
         justify-content: center !important; */
    }
    #works .row span:first-child{
        display: none;
    }
    .header h1{
        width: 100%;
        background-color: #ffffff5e;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 0 0 4px 0px black;
        text-align: center;
    }
    footer img{
        max-width: 70%;
    }
}

@media (min-width:991px) and (max-width:1199px) {
    .header {
        background-image: url(../images/header-tab.jpeg);
        background-image: url(../images/header-tab.webp);
    }
    
}

@media (max-width:991px) {
    .header {
        background-image: url(../images/header-mob.jpeg);
        background-image: url(../images/header-mob.webp);
    }
    .padding-50 {
        order: 1;
        
    }
    .image-bg {
        order: 2;
    }
 
}
@media (max-width:1199px) {
    .navbar{
        background-color: #fff !important;
    }
    .navbar-nav .nav-link {
        color: #333 !important;
    }
    h2{
        color: #fff;
        text-align: left !important;
    }
    .header h3{
        color: #fff;
    }
    .slika{
        background-size: cover !important; 
    }
    #works .image-content img{
        width: auto !important;
        height: auto !important;
        margin-left: 0px !important;
    }
    #works .row span:first-child{
        display: none !important;
    }
    .image-content img{
        margin: 10px auto !important;
    }
}
@media (max-width:767px) {
    .header h1 {
        font-size: 30px;
    }
    .header h2 {
        font-size: 20px;
        
    }
    .header h3 {
        font-size: 15px
    }
    .padding-50{
        padding: 30px 30px !important;
    }
    h2{
        
        text-align: left !important;
    }

    footer .lazy{
        width: 200px;
    }
    
    
}

.header .app-form-box {
    position: relative;
    width: auto;
    max-width: 350px;
    margin: 0 auto;
    top: 200px;
}

.header .cta-box {
   /*  border-top: #ffffff3b 1px solid; */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 35px auto;
}

.header .cta-box a.phone-btn, .header .cta-box a.get-started-btn {
    color: #fff;
    padding: 10px 35px;
    margin: 0 5px;
    text-decoration: none !important;
    font-weight: bold;
    max-width: 180px;
    display: block;
    line-height: 1;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #bf0c32; 
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 9999;
    padding: 0px 30px;
    /* background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px 0px black; */
    transition: .4s;
}

.navbar-bg {
    background-color:#fff;
    box-shadow: 0px 0px 5px black;
}

.navbar .container {
    position: relative;
    z-index: 9999
}
.navbar img {
    max-width: 70px;
}
.navbar .nav-link {
    text-transform: uppercase;
    font-weight: 700
}
.navbar-expand-xl .navbar-nav .nav-link {
    font-size: 14px !important;
    letter-spacing: -0.5px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: bolder;
}
.navbar-expand-xl .navbar-nav .nav-link:hover{
    color: #dac862;
}
.navbar-nav .nav-link {
    font-weight: 700;
    color: #fff ;
    transition: .3s;
}

.navbar-bg .nav-link {
    color: #333 !important;
}
.navbar-bg .nav-link:hover {
    color: #e37277 !important;
}
.navbar-light .navbar-toggler {
    color: #dac862;
    border-color: #dac862;
}

.navbar-toggler span {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    display: block;
    background: #dac862;
}

.navbar-nav a.btn {
    margin: 2px 0;
    border-radius: 0;
    padding: 2px 15px;
    display: block;
    max-width: 140px;
    text-align: center;
    margin: 5px;
    color: #fff!important;
    background: #494a79;
    border-radius: 10px;
    transition: .5s;
}
.navbar-nav a.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.isecak3{
    width: 100%;
    height: 150px;
    background-color: #f5f5f5 ;
    /* clip-path: polygon(45% 0,100% 100%,100% 0); */
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;    
    border-top: 0;
}
.isecak2{
    width: 100%;
    height: 150px;
     background-color: #f5f5f5; 
     border-bottom-left-radius: 100%;
     border-bottom-right-radius: 100%;
    /* clip-path: polygon(45% 0,100% 100%,100% 0); */
    border-top: 0;
}
.isecak1{
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    /* clip-path: polygon(45% 100%,100% 100%,100% 0); */
    border-top-right-radius: 130%;
    border-top: 0;
}

section {
    padding: 0;
    color: #fff;
    overflow: hidden;
    /* background-color: hsl(238, 100%, 38%); */
    
}

#about{
    background-image: linear-gradient(to left, #154cb6, #3b65c9, #587fdb, #749aed, #90b5ff);
    border-top: 10px solid #fff;
}
.tape{
    width: 100%;
    height: 20px;
    background-image: radial-gradient(circle, #154cb6, #3b65c9, #587fdb, #749aed, #90b5ff);
    z-index: 999;
    box-shadow: 0 0 6px black;
}
.about-1-1{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: -62px;
    display: flex;
    animation: img 2s infinite;
}
@keyframes img{
    0%{transform: scale(1)}
    50%{transform: scale(1.15)}
    100%{transform: scale(1)}
}


#works{
    background-color: #f5f5f5 !important;
    color: #333;

}
#apply{
    background-image: linear-gradient(to right, #154cb6, #3b65c9, #587fdb, #749aed, #90b5ff);
    color: #fff !important;
}
#ready{
    background-color: #f5f5f5;
    color: #333;
}
#ready h1{
    color: #333;
}
#ready h1::after{
    background-color: #333;
}
section:nth-child(odd) h1{
    color: #fff;
}
section:nth-child(even) h1{
    color: #333;
}
section h1{
    margin: 20px 0;
    position: relative;

}
section h1::after{
    position: relative;
    top: 5px;
    content: '';
    width: 30px;
    height: 3px;
    display: flex;
    margin: auto;
    background-color: #000;
    transition: .4s ease;
}
section:nth-child(odd) h1::after{
    background-color: #fff;
}
section:nth-child(odd):hover h1::after{
    width: 150px;
}
section:nth-child(even):hover h1::after{
    width: 150px;
}


#works .image-content{
   margin-left: 5%;
   height: 100%;
   margin: auto;
   display: flow-root;
}
#works .image-content img{
    border: 0px;
    padding: 0px;
}
section:nth-child(even) {
    /* background: #f1f1f1; */
    padding: 0;
   /* color: #333; */
}

.image-content {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    
}
.image-content img {
    width: 90%;
    display: flex;
    margin: auto;
    position: relative;
    z-index: 2;
    border-radius: 200px;
    border: 10px solid;
    padding: 10px;
}

.image-bg {
    background-size: cover;
    background-position: center;
    min-height: 600px;
}
 
.padding-50 {
    padding: 75px 80px
}
@media (max-width:991px) {
    .header .app-form-box {
        top: auto;
    }
    .col-app {
        margin-top: 50px
    }
    .col-txt {
        order: 1
    }
    .col-img {
        order: 2
    }
 
    section:nth-child(even) .image-content:after {
        bottom: calc(50% + 140px);
    }
    
    section:nth-child(even) .image-content:before {
        top: calc(50% + 140px);
    }
    .image-content img{
        margin-top: 100px !important;
    }
}

section ul {
    margin: 0 0 0 15px
}

footer {
    padding: 40px 0 20px 0;
    background-image: radial-gradient(circle, #e95151, #d34044, #be2f38, #a91c2c, #940120);
}

.address {
    opacity: .5;
    font-size: 11px;
    padding: 5px;
    color: #fff;
}

footer .list-inline-item a {
    color: #fff !important;
    text-decoration: none!important;
    font-size: 18px;
    margin-top:150px;
    line-height: 1.5;
}

.copyright p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.thank-money {
    font-size: 20px;
    font-weight: 600;
    color: #7ab32e;
    line-height: 1.4em
}

.thank-msg {
    background-color: #2aaf00;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: solid #000 3px;
    text-transform: uppercase
}

.thank-msg:after {
    background: 0 0
}

.icon-round {
    float: left;
    width: 50px;
    height: 50px
}

.icon-round i {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    line-height: 1;
    background: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center
}

.thank-you .text {
    color: #000;
    font-size: 22px;
    float: left;
    padding: 7px 10px;
    text-align: left
}

.text-description {
    text-align: justify;
    font-size: 14px;
    color: #000;
    margin: 15px 0
}

.text-large {
    font-size: 18px
}

.thank-you-price {
    font-size: 20px;
    font-weight: 600;
    color: #388322;
    line-height: 1.4em;
    background: #000;
    padding: 1px 5px;
    border-radius: 3px
}

.information {
    padding: 50px 0
}

.information li, .information p {
    color: #000!important
}

body.pages .navbar {
    background: #141769;
}

@media (max-width: 768px){
   
    .header h2, .header h3{
        display: none; 
    }
    .header h1 span{
        padding: 0;
        float: left;
        margin: 0;
    }
    .header{
        background-position: inherit !important;
    }
    .header h1 span{
        display: none;
    }
    .header h1{
        /* font-size: 25px; */
    }
    .header .app-form-box {
        top: auto;
    }
    .header .cta-box{
        width: 250px;
        margin-bottom: 0;
    }
    .sekcija2 img{
        margin-top: 30px !important;
    }
    #works .image-content {
        margin: 0 20px !important;
    
    }
    .navbar-nav .nav-link {
        color: #333 ;
    }
    
    .navbar-bg .nav-link {
        color: #333 !important;
    }
    .thank-msg{
        margin-left: 0px !important;
    }
    .list-inline{
        margin-left: 0px !important;
    }
    #works .image-content img {
        margin-left: 0 !important;
    }

}
@media (max-width: 455px){
    #works .image-content img {
        width: 100% !important;
        height: 100% !important;
        margin-left: 0 !important;
    }
    #works .row span:first-child{
        display: none;
    }
    #about{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    #about p,ul, h2, h2 p{
        margin-left:20px !important;  
        margin-right: 20px !important;
    }
    #apply{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    #apply p, h1{
        margin-left:20px !important;  
        margin-right: 20px !important;
    }
    #apply .row {
        margin-top: 0px;
    }
    .image-content img{
        margin: 10px auto;
        margin-top: 100px !important;
    }

    
}

img .mob{
    width: auto !important;
}

/* Thank you */
.thank-msg {
    background-color: #2aaf00;
    color: #fff;
    padding: 10px;
    margin-bottom: 40px;
    border-bottom: solid #000 3px;
    text-transform: uppercase;
    font-size: 30px !important;
    font-weight: 900!important;
   
}

.large {
    font-weight: 900!important;
}

.call-now {
    padding: 20px 30px;
    background-color: #41b851;
    border-radius: 15px;
    color: #fff !important;
    font-size: 28px !important;
    line-height: 26px;
    font-weight: 900 !important;
    display: flex;
    max-width: 300px;
    text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.call-now img {
    margin-right: 5px;
}

.thank-you .text {
    color: #000;
    font-size: 22px;
    float: left;
    padding: 7px 10px;
    text-align: left;
}
.text-description {
    text-align: justify;
    font-size: 14px;
    color: #000;
    margin: 15px 0;
}
.icon-round {
    float: left;
    width: 50px;
    height: 50px;
}
.icon-round i {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    line-height: 1;
    background: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}
.call-box {
    padding-top: 30px;
}
.green-amout {
    color: #41b851;
    font-weight: bolder !important;
    border-bottom: 2px solid #41b851;
    font-size: 20px;
}
