* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

body,
html {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5!important
}

body {
    overflow: hidden
}

body.pages .navbar {
    background: #fff!important
}

.scroll {
    overflow-y: auto
}

.box {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    overflow: hidden
}

#cssload-loader {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 88px;
}
#cssload-loader ul {
	margin: 0;
	list-style: none;
	width: 88px;
	height: 63px;
	position: relative;
	padding: 0;
	height: 10px;
}
#cssload-loader ul li {
	position: absolute;
	width: 5px;
	height: 0;
	background-color: #f7b655;
	bottom: 0;
}


#cssload-loader li:nth-child(1) {
	left: 0;
	animation: cssload-sequence1 1.15s ease infinite 0;
		-o-animation: cssload-sequence1 1.15s ease infinite 0;
		-ms-animation: cssload-sequence1 1.15s ease infinite 0;
		-webkit-animation: cssload-sequence1 1.15s ease infinite 0;
		-moz-animation: cssload-sequence1 1.15s ease infinite 0;
}
#cssload-loader li:nth-child(2) {
	left: 15px;
	animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-o-animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-ms-animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-webkit-animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-moz-animation: cssload-sequence2 1.15s ease infinite 0.12s;
}
#cssload-loader li:nth-child(3) {
	left: 29px;
	animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
}
#cssload-loader li:nth-child(4) {
	left: 44px;
	animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-o-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-ms-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-webkit-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-moz-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
}
#cssload-loader li:nth-child(5) {
	left: 58px;
	animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
}
#cssload-loader li:nth-child(6) {
	left: 73px;
	animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-o-animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-ms-animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-webkit-animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-moz-animation: cssload-sequence2 1.15s ease infinite 0.58s;
}


@keyframes cssload-sequence1 {
	0% {
		height: 10px;
	}
	50% {
		height: 49px;
	}
	100% {
		height: 10px;
	}
}

@-o-keyframes cssload-sequence1 {
	0% {
		height: 10px;
	}
	50% {
		height: 49px;
	}
	100% {
		height: 10px;
	}
}

@-ms-keyframes cssload-sequence1 {
	0% {
		height: 10px;
	}
	50% {
		height: 49px;
	}
	100% {
		height: 10px;
	}
}

@-webkit-keyframes cssload-sequence1 {
	0% {
		height: 10px;
	}
	50% {
		height: 49px;
	}
	100% {
		height: 10px;
	}
}

@-moz-keyframes cssload-sequence1 {
	0% {
		height: 10px;
	}
	50% {
		height: 49px;
	}
	100% {
		height: 10px;
	}
}

@keyframes cssload-sequence2 {
	0% {
		height: 19px;
	}
	50% {
		height: 63px;
	}
	100% {
		height: 19px;
	}
}

@-o-keyframes cssload-sequence2 {
	0% {
		height: 19px;
	}
	50% {
		height: 63px;
	}
	100% {
		height: 19px;
	}
}

@-ms-keyframes cssload-sequence2 {
	0% {
		height: 19px;
	}
	50% {
		height: 63px;
	}
	100% {
		height: 19px;
	}
}

@-webkit-keyframes cssload-sequence2 {
	0% {
		height: 19px;
	}
	50% {
		height: 63px;
	}
	100% {
		height: 19px;
	}
}

@-moz-keyframes cssload-sequence2 {
	0% {
		height: 19px;
	}
	50% {
		height: 63px;
	}
	100% {
		height: 19px;
	}
}
  




.apply-left{
    padding-left: 50px !important;
}


img {
    width: 100%;
    max-width: 100%
}

.welcome-box {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh
}

.header {
    min-height: 1000px;
    height: auto;
    background-size: cover;
    background-repeat: no-repat;
    background-position: center;
    position: relative;
    display: flex;
    width: 100%;
    padding: 150px 15px 80px 15px;
    color: #333
}
.header::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55%;
    height: 5%;
    background-color: rgb(247, 182, 85);
    -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}
.header::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 10%;
    background-color: rgb(247, 182, 85);
    -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

.nav-item {
    z-index: 999
}
/*
.header:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}
*/
.header .container {
    position: relative;
    z-index: 9
}

.header .header-brand {
    margin-bottom: 100px
}

.header .header-brand img {
    max-width: 200px
}

.header h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.4;
    text-align: right;
    font-family: monospace;
    width: 600px
}

.header h1 span {
    background: -webkit-linear-gradient(#F7B655, #EBB903);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 3px 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif
}

.header h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: monospace;
    text-align: left
}

.header h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 5px 0 0 0;
    font-family: monospace;
    background: -webkit-linear-gradient(#f5f5f5, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}


@media (min-width:1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        font-size: 20px!important
    }
    .navbar-bg.navbar-expand-xl .navbar-nav {
        background-color: transparent
    }
}

@media (min-width:1199px) {
    .header {
        background-image:linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(../images/header-pc.jpeg);
        background-image:linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url(../images/header-pc.webp)
    }
    #about .padding-50 {
       /* padding: 0!important */
    }
    .align-self-center {
        -ms-flex-item-align: left!important;
        align-self: auto!important
    }
    .header .text-center {
        color: #ec212e
    }
    #works .row span:first-child {
        display: none
    }
    .header h1 {
        border-radius: 10px;
        text-align: center;
        width: 100%;
        background-color: #000000a1;
    }
    footer img {
        max-width: 70%
    }

}

@media (min-width:991px) and (max-width:1199px) {
    .header {
        background-image: url(../images/header-tab.jpeg);
        background-image: url(../images/header-tab.webp)
    }
}

@media (max-width:991px) {
    .header {
        background-image: url(../images/header-mob.jpeg);
        background-image: url(../images/header-mob.webp)
    }
    .padding-50 {
        order: 1
    }
    .image-bg {
        order: 2
    }
}

@media (max-width:1199px) {
    .navbar {
        background-color: #fff!important
    }
    .navbar-nav .nav-link {
        color: #333!important
    }
    h2 {
        color: #fff;
        text-align: left!important
    }
    .header h3 {
        color: #fff
    }
    .slika {
        background-size: cover!important
    }
    #works .image-content img {
        width: auto!important;
        height: auto!important;
        margin-left: 0!important
    }
    #works .row span:first-child {
        display: none!important
    }
    .image-content img {
        margin: 10px auto!important
    }
    .navbar::after{
        background-color: #333;
        transform: perspective(800px) rotateX(0deg);
        margin-right: 0;
    }
}

@media (max-width:767px) {
    .header h1 {
        font-size: 30px
    }
    .header h2 {
        font-size: 20px
    }
    .header h3 {
        font-size: 15px
    }
    .padding-50 {
        padding: 30px 30px!important
    }
    h2 {
        text-align: left!important
    }
    footer .lazy {
        width: 200px
    }
}

.header .app-form-box {
    position: relative;
    width: auto;
    max-width: 350px;
    margin: 0 auto;
    top: 200px
}

.header .cta-box {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 35px auto
}

.header .cta-box a.get-started-btn,
.header .cta-box a.phone-btn {
    color: #333;
    padding: 10px 35px;
    margin: 0 5px;
    text-decoration: none!important;
    font-weight: 700;
    max-width: 180px;
    display: block;
    line-height: 1;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    text-transform: uppercase;
    background-image: radial-gradient(circle, #f7b655, #f5b647, #f3b738, #efb826, #ebb903);
    border: 2px solid #333;
}

.cta-box a.phone-btn:hover {
    opacity: .8
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0 30px;
    transition: .4s
}

.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 32%;
    transition: .4s ease;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right: 30px;
    transform:perspective(8000px) translateY(-150px);
    box-shadow: 0 0 10px black;
}
.navbar-bg::after{
    background-color: salmon;
    color:#fff;
    transform:perspective(800px) translateY(0px);
}

.navbar-bg {
    
}

.navbar .container {
    position: relative;
    z-index: 9999
}

.navbar img {
    max-width: 250px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffffffe3;
}

.navbar .nav-link {
    text-transform: uppercase;
    font-weight: 700
}

.navbar-expand-xl .navbar-nav .nav-link {
    font-size: 14px!important;
    letter-spacing: -.5px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    z-index: 1000;
    font-weight: bolder
}

.navbar-expand-xl .navbar-nav .nav-link:hover {
    color: #dac862
}

.navbar-nav .nav-link {
    font-weight: 700;
    color: #fff;
    transition: .3s
}

.navbar-bg .nav-link {
    color: #fff!important
}

.navbar-bg .nav-link:hover {
    color: #fff!important
}

.navbar-light .navbar-toggler {
    color: #dac862;
    border-color: #dac862
}

.navbar-toggler {
    z-index: 1000
}

.navbar-toggler span {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    display: block;
    background: #fff;
    z-index: 1000
}

.navbar-nav a.btn {
    margin: 2px 0;
    border-radius: 0;
    padding: 2px 15px;
    display: block;
    max-width: 140px;
    text-align: center;
    margin: 5px;
    color: #fff!important;
    background: #494a79;
    border-radius: 10px;
    transition: .5s
}

.navbar-nav a.btn:hover {
    cursor: pointer;
    opacity: .8
}

.isecak3 {
    width: 100%;
    height: 120px;
    position: absolute;
    background-color: #278051;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
}

.isecak2 {
    width: 80px;
    height: 100px;
    position: absolute;
    left: 10%;
    margin-top: -50px;
    background-image: url(../images/strelica.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scaleY(-1);
}

.isecak1 {
    width: 25%;
    height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    left: 0;
    background-image: linear-gradient(to right top, #ff7a00, #ff8b1b, #ff9a2f, #ffa842, #ffb655)
}

section {
    padding: 0;
    color: #fff;
    overflow: hidden
}

#about {
    background-image: linear-gradient(to bottom, #f7b655, #f5b647, #f3b738, #efb826, #ebb903);
}
.tape {
    width: 100%;
    height: 10px;
    z-index: 999;
    box-shadow: 0 0 6px #000;
    background-color: #6495ed
}

.body-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    top: -70px;
    margin: auto;
    max-width: 150px;
    height: 150px;
    background-color: #e33236;
    border: 6px solid #fff;
    margin: auto 5% auto auto;
    border-radius: 100%
}

.body-logo img {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    filter: grayscale(1)
}

@keyframes img {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.15)
    }
    100% {
        transform: scale(1)
    }
}

#works {
    background-color: #f5f5f5!important;
    color: #333;
    border-top: 5px dashed salmon;
    border-bottom: 5px dashed salmon;
}

#works img {
    filter: grayscale(1);
    transition: .3s ease-in-out
}

#works:hover img {
    filter: grayscale(0)
}

#apply {
    background-image:linear-gradient(to bottom, rgba(247, 184, 86, 0.77) ,rgba(247, 182, 85, 0.87)),url(../images/slika-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff!important;
    padding-bottom: 20px;
}


#ready {
    background-color: #fff;
    color: #333!important
}

#ready img {
    margin-top: 11px
}

#ready h1 {
    color: #333!important
}

#ready h1::after {
    background-color: #333!important
}

section:nth-child(odd) h1 {
    color: #fff!important
}

section:nth-child(even) h1 {
    color: #fff!important
}

section h1 {
    margin: 20px 0;
    position: relative
}

#works h1 {
    color: #333!important
}

#works h1::after {
    background-color: #333!important
}

section h1::after {
    position: relative;
    top: 5px;
    content: '';
    width: 30px;
    height: 3px;
    display: flex;
    margin: auto;
    background-color: #fff;
    transition: .4s ease
}

section:nth-child(odd) h1::after {
    background-color: #fff!important
}

section:nth-child(odd):hover h1::after {
    width: 150px
}

section:nth-child(even):hover h1::after {
    width: 150px
}

section:nth-child(even) {
    padding: 0
}

.image-content {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0
}

.image-content img {
    width: 100%;
    display: flex;
    margin: auto;
    position: relative;
    z-index: 2
}

.image-bg {
    background-size: cover;
    background-position: center;
    min-height: 600px
}

.padding-50 {
    padding: 75px 80px;
}

#apply img {
    padding: 10px;
    filter: grayscale(1);
    transition: .3s ease-in-out;
    width: 90%;
    border-radius: 10%;
    animation: body-animation 12s infinite;
}

#apply:hover img {
    filter: grayscale(0)
}

@keyframes body-animation{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

@media (max-width:991px) {
    .header .app-form-box {
        top: auto
    }
    .col-txt {
        order: 1
    }
    .col-img {
        order: 2
    }
    section:nth-child(even) .image-content:after {
        bottom: calc(50% + 140px)
    }
    section:nth-child(even) .image-content:before {
        top: calc(50% + 140px)
    }
    .image-content img {
        margin-top: 100px!important
    }
}

section ul {
    margin: 0 0 0 15px
}

footer {
    padding: 40px 0 20px 0;
    background-color: salmon;
    box-shadow: 0 0 10px black;
}

footer .col-md-9 {
    display: flex;
    justify-content: center;
    align-items: center
}

.address {
    opacity: .5;
    font-size: 11px;
    padding: 5px;
    color: #333
}

footer .list-inline-item a {
    color: #333!important;
    text-decoration: none!important;
    font-size: 18px;
    margin-top: 150px;
    line-height: 1.5
}

.copyright p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
    color: #333
}

.thank-money {
    font-size: 20px;
    font-weight: 600;
    color: #7ab32e;
    line-height: 1.4em
}

.thank-msg {
    background-color: #2aaf00;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: solid #000 3px;
    text-transform: uppercase
}

.thank-msg:after {
    background: 0 0
}

.icon-round {
    float: left;
    width: 50px;
    height: 50px
}

.icon-round i {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    line-height: 1;
    background: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center
}

.thank-you .text {
    color: #000;
    font-size: 22px;
    float: left;
    padding: 7px 10px;
    text-align: left
}

.text-description {
    text-align: justify;
    font-size: 14px;
    color: #000;
    margin: 15px 0
}

.text-large {
    font-size: 18px
}

.thank-you-price {
    font-size: 20px;
    font-weight: 600;
    color: #388322;
    line-height: 1.4em;
    background: #000;
    padding: 1px 5px;
    border-radius: 3px
}

.information {
    padding: 50px 0
}

.information li,
.information p {
    color: #000!important
}

body.pages .navbar {
    background: #141769
}

img .mob {
    width: auto!important
}

.thank-msg {
    background-color: #2aaf00;
    color: #fff;
    padding: 10px;
    margin-bottom: 40px;
    border-bottom: solid #000 3px;
    text-transform: uppercase;
    font-size: 30px!important;
    font-weight: 900!important
}

.large {
    font-weight: 900!important
}

.call-now {
    padding: 20px 30px;
    background-color: #41b851;
    border-radius: 15px;
    color: #fff!important;
    font-size: 28px!important;
    line-height: 26px;
    font-weight: 900!important;
    display: flex;
    max-width: 300px;
    text-decoration: none!important;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    justify-content: center
}

.call-now img {
    margin-right: 5px
}

.thank-you .text {
    color: #000;
    font-size: 22px;
    float: left;
    padding: 7px 10px;
    text-align: left
}

.text-description {
    text-align: justify;
    font-size: 14px;
    color: #000;
    margin: 15px 0
}

.icon-round {
    float: left;
    width: 50px;
    height: 50px
}

.icon-round i {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    line-height: 1;
    background: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center
}

.call-box {
    padding-top: 30px
}

.green-amout {
    color: #41b851;
    font-weight: bolder!important;
    border-bottom: 2px solid #41b851;
    font-size: 20px
}

@media (min-width:1300px) {
    .navbar::after {
        width: 24%
    }
}
@media (min-width:1600px) {
    .navbar::after {
        width: 20%
    }
}
@media (min-width:1900px) {
    .navbar::after {
        width: 17%;
    }
}
@media (min-width:1900px) {
    .navbar::after {
        width: 17%;
    }
}
@media (min-width:2100px) {
    .navbar::after {
        width: 320px;
    }
}

@media (max-width:768px) {
    .header h2,
    .header h3 {
        display: none
    }
    .header h1 span {
        padding: 0;
        float: left;
        margin: 0
    }
    .header {
        background-position: inherit!important
    }
    .header h1 span {
        display: none
    }
    .header .app-form-box {
        top: auto
    }
    .header .cta-box {
        width: 250px;
        margin-bottom: 0;
        margin-top: -50px
    }
    .sekcija2 img {
        margin-top: 30px!important
    }
    #works .image-content {
        margin: 0 20px!important
    }
    .navbar-nav .nav-link {
        color: #333!important
    }
    .navbar-bg .nav-link {
        color: #333!important
    }
    .thank-msg {
        margin-left: 0!important
    }
    .list-inline {
        margin-left: 0!important
    }
    #works .image-content img {
        margin-left: 0!important
    }
    #apply img {
        width: 80%
    }
}

@media (max-width:455px) {
    #apply img{
        display: none;
    }
    .isecak2 {
        display: none;
    }
    #works .image-content img {
        width: 100%!important;
        height: 100%!important;
        margin-left: 0!important
    }
    #works .row span:first-child {
        display: none
    }
    #about {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    #about p,
    h2,
    h2 p,
    ul {
        margin-left: 20px!important;
        margin-right: 20px!important
    }
    #apply {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    #apply p,
    h1 {
        margin-left: 20px!important;
        margin-right: 20px!important
    }
    #apply .row {
        margin-top: 0
    }
    .image-content img {
        margin: 10px auto;
        margin-top: 100px!important
    }
    .header .cta-box {
        margin-top: -70px
    }
    .navbar img {
        max-width: 220px
    }
    .navbar::after{
        margin-right: 0px;
        transform: perspective(0px)rotateX(0deg);
        border-radius: 0px;
    }
}

@media (max-width:320px) {
    .navbar img {
        max-width: 180px
    }
}
@media (max-width:1024px){
    .navbar-bg .nav-link {
        color: #333!important;
    }
    .navbar-bg .nav-link:hover {
        color: #333!important;
    }
    .navbar::after{
        margin-right: 0px;
        transform: perspective(0px)rotateX(0deg);
        border-radius: 0px;
    }
}
@media (max-width:1300px){
    .navbar::after {
        margin-right: 0px;
        transform: perspective(0px)rotateX(0deg);
        border-radius: 0px;
    }
}