*{
    margin: 0;
    padding: 0;
    font-family: mojFont3;
    color: #333;
}
html, body{
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        background-size: cover;
    }
    a{
        text-decoration: none;
    }
    h1,h2{
        font-family: mojFont1;
    }
}

$padding: 1em;
$primarna-boja: #5589ff;
$b-radius: 40px;

@font-face{
    font-family: mojFont1;
    src: url(../fonts/museosans-100-webfont.ttf);
}
@font-face{
    font-family:mojFont2;
    src: url(../fonts/museosans-300-webfont.ttf);
}
@font-face{
    font-family:mojFont3;
    src: url(../fonts/museosans_500-webfont.ttf);
}
@font-face{
    font-family:mojFont4;
    src: url(../fonts/museosans_700-webfont.ttf);
}
@font-face{
    font-family:mojFont5;
    src: url(../fonts/museosans_900-webfont.ttf);
}


/* ------------ Strelica za gore ------------ */
.strelica-gore{
  width: 50px;
  height: 50px;
  background-color: #eaeaea;
  border: 1px solid #333;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: fixed;
  left: 93%;
  top: 85%;
  transition: .4s;
  z-index: 999;

  .strelica{
    transition: .4s;
  }
  .strelica:hover{
    transform:          rotate(-45deg);
    -ms-transform:      rotate(-45deg);
    -moz-transform:     rotate(-45deg);
    -webkit-transform:  rotate(-45deg);
    -o-transform:       rotate(-45deg);
    }
    
}
    .strelica-gore:hover{
    cursor: pointer;
    transform: rotate(45deg) !important;
    }


/* ------------ Header ------------ */
#nav-bar{
    height: 100px;
    margin: 0 auto;
    width: 100%;
    display:inline-block;  

    ul{
        margin-right: 10%;
    }
    ul li{
        display: inline-block;
        padding-top: 39.5px;
        padding-bottom: 39.5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: .2s;
        font-family: mojFont3;
    }
    ul li:hover{
        border-bottom: 5px solid $primarna-boja;
        margin:0;
        cursor: pointer;
    }
    .logo{
        background-image: url(../slike/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 80px;
        margin-top: 2em;
        margin-left: 10%;
        float: left;
    }
}


/* ------------ 1 deo ------------ */
#deo-1{
    background-image: url(../slike/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* parallax */
    height: 800px;
    width: 100%;
    display: inline-block;
}
.crno{
    background-color:rgba(0,0,0,0.5);
    height: 800px;
    width: 100%;
    display: inline-block;
}
div.hero{
    width: 60%;
    margin: 20% auto;
    padding: 1em;
    line-height: 1.5;
}
.hero p{
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-family: mojFont1;
}
.hero input{
    background-color: $primarna-boja;
    border-radius: $b-radius;
    padding: $padding;
    margin: 3em auto;
    display: block;
    color: #fff;
    font-size: 14px;
    border: 0;
    font-family: mojFont2;
    transition: .3s;
}
.hero input:hover{
  cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid $primarna-boja; 
    color: $primarna-boja;
}
/* ------------ 2 deo ------------ */
#deo-2 p{
    font-family: mojFont2;
}
.deo-2-1{
    line-height: 1.5;
    margin: 0 auto;
    width: 60%;
    margin-top: 5em;
    margin-bottom: 5em;
}
.deo-2-1 ul li{
    list-style: circle;
    line-height: 2;
    font-family: mojFont2;
    margin-left: 1.1em;
}

/* -------------- slider ------------ */
  .slider {
    margin: 0 auto;
  }
  
  .slide_viewer {
    height: 650px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    h1{
        margin-top: 5em;
        font-family: mojFont1 !important;
        color: #fff;
        padding: 1em;
        font-size: 40px;
      }
      p{
        width: 40%;
        padding: 1em;
        margin: 0 auto;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        font-family: mojFont1;
      }
      input{
      padding: $padding;
      background-color: $primarna-boja;
      border-radius: $b-radius;
      border: 0px;
      font-size: 15px;
      color: #fff;
      transition: .3s;
      }
  }
  .slide input:hover{
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid $primarna-boja; 
    color: $primarna-boja;
  }
  
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background-image: url(../slike/slide-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slide:nth-of-type(2) {
    background-image: url(../slike/slide-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .slide:nth-of-type(3) {
    background-image: url(../slike/slide-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .directional_nav {
    height: 70px;
    margin: 0 auto;
    position: relative;
    top: -330px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
    
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }


  /* ----------- Deo-3 -------------- */
  #deo-3{
    margin-top: -70px;
    background-color: #efefef;
    padding-bottom:6em;

    .deo-3-1 h1{
        padding: 2em;
        font-family: mojFont1;
        padding-bottom: 1em;
      }
      .deo-3-1 input{
        padding: $padding;
        background-color: #efefef;
        border: 1px solid $primarna-boja;
        color: $primarna-boja;
        border-radius: $b-radius;
        font-family: mojFont4;
        margin: 6em auto 0 auto;
        display: -webkit-box;
        transition: .3s;
      }
      .deo-3-1 input:hover{
        background-color: $primarna-boja;
        color: #efefef;
        cursor: pointer;
      }

    img{
        height: 200px;
        width: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        transition: .5s;
      }
  }

  .images{
    height: 200px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
  }
  
  .slike-123{
    text-align: center;

    p{
        width: 350px;
        TEXT-ALIGN: LEFT;
    }
  }

  .slike{
    display: inline-block;
    vertical-align:top; 
    padding: .2em;

    .images:hover{
        opacity: .6;
        cursor: pointer;
      }
    .datumi{
        font-size: 14px;
        opacity: .6;
        padding-bottom: 1.2em;
      }
      .image1{
        background-image: url(../slike/slika-1.jpg);
      }
      .image2{
        background-image: url(../slike/slika-2.jpg);
      }
      .image3{
        background-image: url(../slike/slika-3.jpg);
      }
  }
  
   /* ----------- footer -------------- */

  #main-footer{
    background-color: #e6e6e6;
    height: 100px;
    width: 100%;
    border-top: 1px solid #dadada;

    p{
        margin-left: 10%;
        margin-top: 2.5em;
        font-family: mojFont2;
      }

      a{
        color: $primarna-boja;
        cursor: pointer;
        font-family: mojFont2;
      }

      .social{
        float: right;
        margin-top: -1.05em;
        margin-right: 10%;
      }
      .social div:nth-child(1){
        background-image: url(../slike/fb-ikonica.gif);
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin: 0;
        display: inline-block;
        margin-right: .5em;
        transition: .3s;
      }
      .social div:nth-child(2){
        background-image: url(../slike/twitter-ikonica.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin: 0;
        display: inline-block;
        margin-right: .5em;
        transition: .3s;
      }
      .social div:nth-child(3){
        background-image: url(../slike/youtube-ikonica.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin: 0;
        display: inline-block;
        margin-right: .5em;
        transition: .3s;
      }
      .social div:nth-child(1):hover, .social div:nth-child(2):hover, .social div:nth-child(3):hover{
        cursor: pointer;
        width: 25px;
        height: 25px;
      }
  }
  nav{
    display: none;
  }

  /* -------------- responsive za telefone -------------- */
  @media only screen and (max-width: 767px) {
    html, body {
      width: 100%;
    }
    #nav-bar ul li{
      display: none;
    }
  
    /* -------------- Hamburger za telefone -------------- */
    nav{
      display: inline;
    }
    a
    {
      text-decoration: none;
      color: #232323;
      transition: color 0.3s ease;
    }
    a:hover
    {
      color: tomato;
    }
    #menuToggle
    {
      display: inline;
      position: relative;
      top: -22.5em;
      left: 70%;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;

      input{
      display: block;
      width: 60px;
      height: 32px;
      position: absolute;
      top: -23px;
      left: 25px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
    }

    input:checked ~ ul
    {
      display: grid;
      transform: rotateX(0deg);
      transform: none;
      border-top: 2px solid $primarna-boja;
      
    }

    img{
        width: 42px;
        margin-top: -.8em;
        margin-left: 7%;
      }
}
    #menu
    {
      position: absolute;
      display: -webkit-box;
      width: 150px;
      left: -100px;
      margin: 27px 0 0 0px;
      padding: 50px;
      padding-left: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #fdfdfd;
      box-shadow: -3px 4px 8px black;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transition: .5s ease;
      transform: rotateX(-90deg);
    }

    #menu span:nth-child(1){
      color:$primarna-boja;;
    }
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
      font-family: mojFont2;
      border-bottom:1px solid $primarna-boja;
    }
    /* -------------- kraj hamburger-a -------------- */


    .previous_btn {
      left: 0px;
    }
    .next_btn {
      right: 0px;
    }
    .images {
      height: 130px;
      width: 130px;
      float: left;
    }
    .image1{
      margin-bottom: 1em;
    }
    .image2{
      margin-bottom: 1em;
    }
    .image3{
      margin-bottom: 1em;
    }
    .slike{
      border-bottom: 1px solid #8a8a8a;
      padding:0;
      padding-top: 1em;
    }
    .social{
      margin-right: 5%;
    }
    #main-footer p{
      margin-left:5%;
    }
    #deo-3{
      padding-bottom: 4em;
    }
    
    .deo-3-1 h1{
      padding: 1em;
    }
    .deo-3-1 input{
      padding: $padding;
      font-size: 17px;
      margin: 5em auto 0 auto;
    }
    .slike-123{
      margin-left: 5%;
      margin-right: 5%;
      
    }
    .slike-123 p{
      width: auto !important;
      font-size: 15px;
      margin-top: -1.3em;
      margin-bottom: 1.5em;
      margin-left: 10em !important;
    }
    .strelica-gore{
      left: 80%;
      top: 82%;
    }
    #deo-1{
      height: 300px;
      background-image: url(../slike/hero-mobilni.jpg);
    }
    .crno{
      height: 300px;
    }
    div.hero{
      width: 90%;
      margin: 10% auto;
    }
    .hero p{
        font-size: 30px;
    }
    .hero input{
      padding: 1.2em;
    }
    .deo-2-1{
      width: 80%;
      margin-top: 1em;
    }
    .slide_viewer{
      height: 250px;
    }
    .directional_nav{
      top: -145px;
    }
    svg{
      height: 40px;
      
    }
    .slide h1{
      font-size: 18px;
      width: 65%;
      margin: 5em auto;
    }
    .slide p{
      display: none;
    }
    .slide input{
      display: none;
    }
    .slide:nth-of-type(1){
      background-image: url(../slike/slide-1-mobilni.jpg);
    }
    .slide:nth-of-type(2){
      background-image: url(../slike/slide-2-mobilni.jpg);
    }
    .slide:nth-of-type(3){
      background-image: url(../slike/slide-3-mobilni.jpg);
    }
    .image1 {
      background-image: url(../slike/slika-1-mobilni.jpg);
    }
    .image2 {
        background-image: url(../slike/slika-2-mobilni.jpg);
    }
    .image3 {
      background-image: url(../slike/slika-3-mobilni.jpg);
    }


  }
  @media (min-width: 767px) and (max-width:1024px){ /*  responsive za tablete  */

    /* -------------- Hamburger za tablete -------------- */
    nav{
      display: inline;
    }
    a
    {
      text-decoration: none;
      color: #232323;
      transition: color 0.3s ease;
    }
    a:hover
    {
      color: tomato;
    }
    #menuToggle
    {
      display: inline;
      position: relative;
      top: -22.5em;
      left: 70%;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
    #menuToggle input
    {
      display: block;
      width: 60px;
      height: 32px;
      position: absolute;
      top: -505px;
      left: 95px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
    }
    #menu
    {
      position: absolute;
      display: -webkit-box;
      width: 150px;
      left: -100px;
      margin: 27px 0 0 0px;
      padding: 50px;
      padding-left: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #fdfdfd;
      box-shadow: -3px 4px 8px black;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transition: .5s ease;
      transform: rotateX(-90deg);
        top: -467px;
        left: -20px;
      }
    #menuToggle img{
      width: 42px;
      margin-left: 7%;
      width: 43px;
      margin-top: -8em;
      position: absolute;
      top: -24em;
      left: 6.5em;
    }
    #menu span:nth-child(1){
      color:$primarna-boja;;
    }
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
      font-family: mojFont2;
      border-bottom:1px solid $primarna-boja;
    }
    #menuToggle input:checked ~ ul
    {
      display: grid;
      transform: rotateX(0deg);
      transform: none;
      border-top: 2px solid $primarna-boja;
      
    }
    /* -------------- kraj hamburger-a -------------- */

    #deo-1{
      background-image: url(../slike/hero-tablet.jpg);
    }
    #nav-bar ul{
      display: none;
    }

    div.hero{
      width: 90%;
      margin: 35% auto;
    }
    .deo-2-1{
      width: 90%;
      margin-top: 2em;
    }
    .directional_nav{
      top: -350px;
    }
    .next_btn{
      right: 30px;
    }
    .previous_btn{
      left: 30px;
    }
    .slide p{
      width: 60%;
      font-size: 17px;

    }
    .slide:nth-of-type(1){
      background-image: url(../slike/slide-1-tablet.jpg); 
    }
    .slide:nth-of-type(2){
      background-image: url(../slike/slide-2-tablet.jpg); 
    }
    .slide:nth-of-type(3){
      background-image: url(../slike/slide-3-tablet.jpg); 
    }
    .slide h1{
      margin-top: 4em;
    }
    .slike-123 p{
      width: 200px;
    }
    .images{
      height: 150px;
      width: 200px;
    }
    .image1 {
      background-image: url(../slike/slika-1-tablet.jpg);
    }
    .image2 {
        background-image: url(../slike/slika-2-tablet.jpg);
    }
    .image3 {
      background-image: url(../slike/slika-3-tablet.jpg);
    }
    .slika2{
      padding-left: .5em;
      padding-right: .5em;
    }
    .strelica-gore{
      left: 90%;
    }
  }


  @media (min-width:1600px){ /* responsive za PC */
    .logo{
      width: 180px;
    }
    div.hero{
      margin: 20% auto;
    }
    .slike-123{
      text-align: center;
    }
    .slide p{
      font-size: 21px;
    }
    .hero input{
      font-size: 18px;
      padding: 1.2em;
    }
    .deo-2-1{
      font-size: 19px;
    }
    .slide input{
      font-size: 18px;
      padding: 1em;
    }
    .deo-3-1 input{
      padding: 1.5em;

    }
  }
  @media (min-width:1900px){
    div.hero {
      margin: 15% auto;
  }
  .slike-123 {
    text-align: center;
  }
  .slike-123 p{
    font-size: 18px;
  }
  .slide p{
  font-size: 22px;
  }
  .images {
    height: 250px;
    width: 400px;
  }
  
}
@media (min-width:2200px){
  div.hero{
    margin: 10% auto;

  }
}
